imports:
    - { resource: config_dev.yml }

parameters:
    hangman.word_length: 3

    hangman_dictionaries:
        - "%kernel.root_dir%/../src/Sensio/Bundle/HangmanBundle/Tests/Fixtures/words.txt"

framework:
    test: ~
    session:
        storage_id: session.storage.filesystem

web_profiler:
    toolbar: false
    intercept_redirects: false

swiftmailer:
    disable_delivery: true